<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	class="width-1300 navbar-scroll">

<th:block th:replace="~{fragments/basicLayout :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<article class="containe-fluid board-article">
			<div class="board-article-list">
			
				<th:block th:replace="~{fragments/boardTitle::boardTitle}"></th:block>
				
				<div class="btns-board">
					<div class="float-end" sec:authorize="isAuthenticated()">						
						<a th:href="${#request.getRequestURI()} + '/write'" class="btn btn-navy btn-block btn-sm"> 글쓰기</a>
					</div>
					<div class="float-start">
						<a th:href="${#request.getRequestURI()}" class="btn btn-mode btn-sm">
							<span> 전체글</span>
						</a>							 
						<a th:href="|@{${detailsURL}(mode='best')}|" class="btn btn-mode btn-sm">
							<span> 인기글</span> 
						</a>
					</div>			
				</div>
				<div class="clearfix"></div>
				<div class="article-list">
					<div class="list-table table">
						<div class="vrow column head d-none d-md-flex">
							<div class="vrow-inner">
								<div class="vrow-top">
									<span class="vcol col-id">번호</span>
									<span class="vcol col-title">제목</span>
								</div>
								<div class="vrow-bottom">
									<span class="vcol col-author">작성자</span>
									<span class="vcol col-time">작성일</span>
									<span class="vcol col-view">조회수</span>
									<span class="vcol col-rate">추천</span>
								</div>
							</div>		
						</div>
						
						<th:block th:each="post, i: ${postPagingDto.postList}">
							<a class="vrow column" th:href="@{/board/{boardType}/{postId}(boardType=${post.boardType}, postId=${post.postId})}">
								<div class="vrow-inner">
									<div class="vrow-top">
										<span class="vcol col-id" th:text="${postPagingDto.totalElementCount} - ${postPagingDto.currentPageNum - 1} * ${postPagingDto.pageSize} - ${i.index}"></span>								
										<span class="vcol col-title">
											<span class="title">
											<th:block th:if="${post.isBest}">
												<i class="bi-star-fill"></i>
											</th:block>
												<span th:text="${post.title}"></span>
											</span>
											<span class="info" th:if="${post.commentCount}">
												<span class="comment-count" th:text="|[${post.commentCount}]|"></span>
											</span>
										</span>
									</div>
									<div class="vrow-bottom">
										<span class="vcol col-author" th:text="${post.writerNickname}"></span>
										<!-- <span class="vcol col-time" th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span> -->
										<span class="vcol col-time" th:text="${post.createdDate}"></span>
										<span class="vcol col-view" th:text="${post.hit}"></span>
										<span class="vcol col-rate" th:text="${post.recommend}"></span>
									</div>
								</div>
							</a>
						</th:block>
					</div>				
				</div>
				<form method="get" class="form-inline search-form justify-content-end">
					<th:block th:if="${#request.getParameter('mode') == 'best'}">
						<input type="hidden" class="form-control" name="mode" value="best">
					</th:block>
						<div class="input-group">
							<div class="input-group-prepend">
								<select class="search-select" name="target" id="target">
									<option value="all" th:selected="${#request.getParameter('target')} == 'all' ">전체</option>
									<option value="title" th:selected="${#request.getParameter('target')} == 'title' ">제목</option>
									<option value="content" th:selected="${#request.getParameter('target')} == 'content' ">내용</option>
									<option value="writer" th:selected="${#request.getParameter('target')} == 'writer' ">작성자</option>
									<option value="title_content" th:selected="${#request.getParameter('target')} == 'title_content' ">제목/내용</option>
								</select>
							</div>
							<input type="text" class="form-control form-control-sm input-border" name="keyword" id="keyword" th:value="${#request.getParameter('keyword')}">
							<div class="input-group-append">
								<button class="btn btn-navy btn-block btn-sm" type="submit">검색</button>
							</div>
						</div>
					</form>
				<nav class="pagination-wrapper">				
					<ul class="pagination justify-content-center">			
						<li th:if="${postPagingDto.hasPrev}" class="page-item ">
							<a class="page-link" th:href="@{${detailsURL}(mode=${postSearch.mode},target=${postSearch.target},keyword=${postSearch.keyword},p=1)}" aria-label="First">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li th:if="${postPagingDto.hasPrev}" class="page-item ">
							<a class="page-link" th:href="@{${detailsURL}(mode=${postSearch.mode},target=${postSearch.target},keyword=${postSearch.keyword},p=${postPagingDto.startPageNum} - 1)}" aria-label="Previous">
								<span aria-hidden="true">&lt;</span>
							</a>
						</li>

						<li th:each="page: ${#numbers.sequence(postPagingDto.startPageNum, postPagingDto.endPageNum)}"
							th:class="${postPagingDto.currentPageNum == page ? 'page-item active' :'page-item' }">
							<a class="page-link" th:text="${page}" th:href="@{${detailsURL}(mode=${postSearch.mode},target=${postSearch.target},keyword=${postSearch.keyword},p=${page})}"></a>
						</li>
	
						<li th:if="${postPagingDto.hasNext}" class="page-item ">
							<a class="page-link" th:href="@{${detailsURL}(mode=${postSearch.mode},target=${postSearch.target},keyword=${postSearch.keyword},p=${postPagingDto.endPageNum} + 1)}" aria-label="Next">
								 <span aria-hidden="true">&gt;</span>
							</a>
						</li>
						<li th:if="${postPagingDto.hasNext}" class="page-item ">
							<a class="page-link" th:href="@{${detailsURL}(mode=${postSearch.mode},target=${postSearch.target},keyword=${postSearch.keyword},p=${postPagingDto.totalPageCount})}" aria-label="Last">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
				
		</article>
	</th:block>
</th:block>


<head>
<script type="text/javascript" defer th:src="@{/js/boardTitle.js}"></script>
</head>
<script type="text/javascript">

let boardType = location.pathname.split('/')[2];

let list = {
	origin : []
}

$(document).ready(function(e){
	
	let postList = $('.list-table').find('a').each(function(){
		
		let link = $(this).attr("href").concat(createQueryString());
		$(this).prop("href", link);
		
	});
	//alert(JSON.stringify(result));
});

function createQueryString(){
	
	let urlParams = new URLSearchParams(location.search);
	
	if(!urlParams.get('p')){
		urlParams.set('p',1);
	}	
	
	return "?".concat(urlParams);	
}
	
</script>
</html>