<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:href="@{/css/bootstrap.min.css}"
	href="../css/bootstrap.min.css" rel="stylesheet">
<style>
.container {
	max-width: 840px;
}
.member-info {
	display: inline-block;
}
.post-info {
	display: inline-block;
	float: right;
}
.post-head{
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.title-row{
	padding: 0.5rem 0.75rem 0.5rem 0.75rem; 
	border-bottom: 1px solid;
	border-color: #bbb;
	font-size: 1.3rem;
	background-color: #eee;
}
.info-row {
	padding: 0.35rem 0.75rem 0.3rem 0.75rem;
	font-size: 0.9rem;
    overflow: hidden;
}

</style>
<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="py-5 text-left">
			<h2>게시글 조회</h2>
		</div>
		<h4 class="mb-3">게시글</h4>
			<div class="post-head"> 
				<div class="title-row">
					<span th:text="${postInfoDto.title}"></span>
				</div>
				<div class="info-row">
					<div class="member-info">
						<span th:text="${postInfoDto.memberInfoDto.nickname}"></span>
					</div>
					<div class="post-info">
						<span>추천 <b th:text="${postInfoDto.recommend}"></b></span>
						<span>조회수 <b th:text="${postInfoDto.hit}"></b></span>
						<span>작성일 <b th:text="${#temporals.format(postInfoDto.createdDate, 'yyyy-MM-dd HH:mm')}"></b></span>
					</div>
				</div>
			</div>
			
			<div class="form-control" th:utext="${postInfoDto.content}"></div>
			
			<div class="row">
				<div class="col-sm-3">
					<button class="w-100 btn btn-primary btn-lg" id="edit-btn" type="button"> 수정</button>
				</div>
				<div class="col-sm-3">
					<form id="delete-form" name="delete-form" th:action th:method="delete"> 
						 <button class="w-100 btn btn-primary btn-lg" id="delete-btn" type="submit"> 삭제</button>
					</form>
				</div>
			</div>
	</div>
</body>

<script type="text/javascript">

$(document).ready(function(e){
	
	$("#edit-btn").on("click", function(e){
		e.preventDefault();
		
		document.location.href = window.location.href+'/edit';
	}
	);
	
});

</script>
</html>