@charset "UTF-8";

.body {
	background-color: #eee;
	background-color: var(--color-bg-body);
	color: #000;
	color: var(--color-text-color);
	min-width: 20rem
}


.body a, .body button {
	outline: 0;
}

.body a.text-colored-link {
	color: #0275d8;
	color: var(--color-link-color)
}

.body a.text-colored-link:focus, .body a.text-colored-link:visited {
	color: #0275d8;
	color: var(--color-link-color)
}
a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

.body .sep:before {
    content: '|';
    font-size: 1.1em;
    font-weight: 300;
    margin: 0 0.5em;
    line-height: .9em;
}

.body .root-container {
	margin: 0 auto
}

html.width-1300 .body .content-wrapper, html.width-1300 .body .navbar-wrapper .navbar
	{
	max-width: 1300px
}

.body .navbar-wrapper {
	z-index: 1034;
	position: relative;
	background-color: #3d414d;
	background-color: var(--color-bg-navbar);
	border-bottom: 1px solid var(--color-border-navbar)
}

.body .navbar-wrapper .navbar {
	border-radius: 0;
	margin: 0 auto;
	padding: .4rem 1rem .5rem
}

.body .content-wrapper {
	display: grid;
	margin: 0 auto;
	grid-template-columns: auto 1fr calc(300px + .75rem)
}

.body .clearfix {
    clear: both;
}

.body .left-ad-area {
	float: left;
	width: 160px;
	margin: .75rem 0 0 calc(160px * -1) !important;
	position: sticky;
	top: .75rem;
	transform: translateX(-.75rem)
}

.body .content-wrapper .containe-fluid {
    border-width: 0px 1px;
    border-style: solid;
    border-color: var(--color-border-outer);
}

.body .board-article {
	/* padding-top: 3rem; */
	padding-bottom: 3rem
}

.board-article {
	background-color: #fff;
	background-color: var(--color-bg-main);
	padding: 1rem 0 1rem 1rem;
	min-height: 65rem;
	min-height: 100vh;
	margin: 0 .75rem 0 0;
	overflow: hidden
}

.body .board-article>div {
	padding-right: 1rem
}

.body .board-article .board-title {
	display: flex;
	padding: 1rem;
	margin: -1rem -1rem .5rem;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgb(50, 60, 70);
}

.body .board-article .article-wrapper {
	overflow: auto;
	margin-top: 1.0rem
}

.body .board-article .edit-menu {
	padding: .35rem .75rem;
	background-color: #fff;
	background-color: var(--color-bg-main);
	text-align: right;
	font-size: .9em
}

.body .board-article .edit-menu .postForm{
	display: inline-block
}

.body .board-article .article-head {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #bbb;
	border-color: var(--color-border-outer)
}

.body .board-article .article-head .title-row {
	padding: .5rem .75rem;
	font-size: 1.1rem;
	border-bottom: 1px solid;
	border-color: #bbb;
	border-color: var(--color-border-outer);
	background-color: #eee;
	background-color: var(--color-bg-focus)
}

.body .board-article .article-head .info-row {
	padding: .35rem .75rem .3rem;
	border-bottom: 1px solid;
	border-color: #bbb;
	border-color: var(--color-border-outer);
	font-size: .9rem;
	overflow: hidden
}

.body .board-article .article-head .info-row:last-of-type {
	border-bottom: none
}

.body .board-article .article-head .info-row .member-info {
	display: inline-block
}

.body .board-article .article-head .info-row .member-info .avatar {
	display: inline-block
}

.body .board-article .article-head .info-row .member-info .avatar img {
	width: 1rem;
	height: 1rem
}

.body .board-article .article-head .info-row .article-info {
	display: inline-block;
	float: right;
	font-size: .8rem;
	line-height: 1.4rem
}

.body .board-article .article-body {
	padding: .8rem;
	word-break: break-all;
	overflow-x: auto
}

.body .board-article .article-body * {
	max-width: 100%;
}

.fr-view {
    word-wrap: break-word;
}

.body .board-article .article-body .vote-area {
	margin: 2rem 0 .5rem;
	text-align: center;
	clear: both
}

.body .board-article .article-body .vote-area .item {
	display: inline-block;
	text-align: center;
	border: 1px solid;
	border-color: #bbb;
	border-color: var(--color-border-outer);
	background-color: #fff;
	background-color: var(--color-bg-main);
	color: #000;
	color: var(--color-text-color);
	border-radius: 5px;
	min-width: 4rem;
	padding: .5rem 1.3rem;
	position: relative
}

.body .board-article .article-body .vote-area .item .icon:before {
	display: block;
	font-size: 3rem;
	margin-bottom: .3rem
}

.body .board-article .article-body .vote-area .item:last-of-type {
	margin-right: 0
}

.body .board-article .article-body .vote-area .item:hover {
	border-color: #1671bc;
	text-decoration: none
}

.body .board-article .article-body .vote-area .item.already {
	border: 1px solid;
	border-color: #007bff;
	border-color: var(--color-btn-hover);
	outline: 1px solid;
	outline-color: #007bff;
	outline-color: var(--color-btn-hover);
	cursor: default
}

.body .board-article .article-comment .title {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #bbb;
	border-color: var(--color-border-outer);
	padding: .5rem .75rem;
	/* font-size: 1.2rem; */
	transition: opacity .3s
}

.body .board-article .article-comment .title .comment-info{
	display: inline-block;
}

.body .board-article .article-comment .title .link{
	display: inline-block;
    float: right;
    line-height: 1.4rem;
}

.body .board-article .article-comment .list-area {
	padding: .75rem;
	overflow: hidden;
	position: relative
}

.body .board-article .article-comment .list-area .parentcomment-wrapper{
	margin-right: 0
}

.body .board-article .article-comment .list-area .recomment-wrapper{
	margin-left: 2rem;
	margin-right: 0
}

.body .board-article .article-comment .list-area .recomment-wrapper>.recomment-wrapper{
	margin-left: 0;
	margin-right: 0
	
}

.body .board-article .article-comment .list-area .comment-item {
	width: 100%;
	margin-bottom: .9rem;
	word-break: break-all;
	transition: padding-left .5s
}

.body .board-article .article-comment .list-area .comment-item .content
	{
	border-top: 1px solid;
    border-bottom: 1px solid;
	border-color: #bbb;
	border-color: var(--color-border-outer);
	font-size: .95rem
}


.body .board-article .article-comment .list-area .comment-item .content .info-row
	{
	padding: .2rem .5rem;
	border-color: #bbb;
	border-color: var(--color-border-outer);
	font-size: .85rem;
	overflow: hidden;
	background-color: #eee;
	background-color: var(--color-bg-focus)
}

.body .board-article .article-comment .list-area .comment-item .content .info-row .right
	{
	float: right;
	display: flex;
	flex-wrap: wrap
}

.body .board-article .article-comment .list-area .comment-item .content .info-row .right .sep::before
	{
	margin: 0 .4rem
}
.body .board-article .article-head .info-row .sep:before {
	margin: 0 .2em
}

.body .board-article .article-comment .list-area .comment-item .content .message
	{
	padding: .5rem;
	position: relative;
	overflow: hidden
}

.body .board-article .article-comment .list-area .comment-item .content .message .text
	{
	display: inline
}

.body .pagination-wrapper {
	margin-top: .5rem
}

.body .board-article .pagination {
	margin: 0;
	text-align: center;
	flex-wrap: wrap
}

.body .board-article .pagination .page-item .page-link {
	color: #000;
	color: var(--color-text-color);
	background-color: #fff;
	background-color: var(--color-bg-main);
	border-color: #bbb;
	border-color: var(--color-border-outer);
	padding: .5rem .6rem
}

.body .board-article .pagination .page-item.active .page-link {
    border-color: #00a495;
    background-color: #eee;
    background-color: var(--color-bg-focus);
}

.reply-form {
	margin: 1em 0 1em 2em
}

.reply-form.edit, .reply-form.write {
	margin-left: 0
}

.reply-form.write {
	padding: 1.5em .75em;
	border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #bbb;
}

.reply-form>.reply-form__container {
	position: relative;
	border: 1px solid;
	border-color: #bbb;
	border-color: var(--color-border-outer);
	color: #000;
	color: var(--color-text-color);
	margin-bottom: 0.2em
}

.reply-form>.reply-form__container>.reply-form-textarea-wrapper {
	position: relative;
	padding: .5em .5em 0
}

.reply-form>.reply-form__container>.reply-form-textarea-wrapper>.reply-form-textarea
	{
	border: none;
	width: 100%;
	height: 100%;
	min-height: 4em;
	overflow: hidden;
	resize: none;
	background-color: transparent
}

.reply-form>.reply-form__container>.reply-form-textarea-wrapper>.reply-form-textarea:focus
	{
	outline: 0
}

.reply-form>.reply-form__container>.reply-form__info>.reply-form__submit-button-wrapper
	{
	text-align: right;
	justify-content: flex-end;
	

}
.reply-form>.reply-form__container>.reply-form__info>.reply-form__submit-button-wrapper>.reply-form__submit-button{
	padding: .25em 1.5em;
	border: 0.1em solid #282832;
	background-color: #323C46;
	border-radius: 0px;
	color: #fff !important;
	transition-duration: .3s;
	height: 100%
}

/* .reply-form>.reply-form__container>.reply-form__info>.reply-form__submit-button-wrapper>.reply-form__submit-button:focus
	{
	outline: 2px solid;
	outline-color: #0275d8;
	outline-color: var(--color-link-color)
}

.reply-form>.reply-form__container>.reply-form__info>.reply-form__submit-button-wrapper>.reply-form__submit-button:hover
	{
	background-color: #eee;
	background-color: var(--color-bg-focus)
}
 */

/* .reply-form>.reply-form__submit-button-wrapper>.reply-form__submit-button
	{
	padding: .25em 1.5em;
	border: 1px solid;
	border-color: #bbb;
	border-color: var(--color-border-outer);
	background-color: #fff;
	background-color: var(--color-bg-main);
	border-radius: 4px;
	color: #000;
	color: var(--color-text-color);
	transition-duration: .3s
}

.reply-form>.reply-form__submit-button-wrapper>.reply-form__submit-button:focus
	{
	outline: 2px solid;
	outline-color: #0275d8;
	outline-color: var(--color-link-color)
}

.reply-form>.reply-form__submit-button-wrapper>.reply-form__submit-button:hover
	{
	background-color: #eee;
	background-color: var(--color-bg-focus)
} */

.body .right-sidebar {
	position: relative;
	padding: .75rem .75rem .75rem 0
}


.body .board-article .included-article-list {
	border-top: 1px solid;
	border-color: #bbb;
	border-color: var(--color-border-outer);
	padding-top: 1rem;
	margin-top: 1rem
}


.body .board-article .article-list {
	margin-top: .5rem;
	margin-bottom: .5rem
}

.body .board-article .article-list .list-table {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #bbb;
	border-color: var(--color-border-outer);
	font-size: .95rem
}

.body .table {
	color: #000;
	color: var(--color-text-color)
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}


.body .board-article .article-list .list-table .vrow.column.head {
	border-bottom: 2px solid;
	border-color: #ddd;
	border-color: var(--color-border-inner);
	font-weight: 700
}

.body .board-article .article-list .list-table .vrow.column.head .vcol {
	font-size: .8rem !important
}

.body .board-article .article-list .list-table .vrow.column {
	display: flex;
	width: 100%;
	padding: .4rem .6rem;
	border-bottom: 1px solid;
	border-color: #ddd;
	border-color: var(--color-border-inner);
	position: relative;
	align-items: center;
	height: 2.4rem;
}

.body .board-article .article-list .list-table .vrow.column .vrow-inner
	{
	display: flex;
	flex: 1;
	align-items: center
}


.body .board-article .article-list .list-table .vrow.column .vrow-top {
	display: flex;
	flex: 1
}

.body .board-article .article-list .list-table .vrow.column .vrow-top .vcol{
	margin-right: 1rem
}

.body .board-article .article-list .list-table .vrow.column .vrow-bottom{
	display: flex
}

.body .board-article .article-list .list-table .vrow.column .vcol.col-author,
	.body .board-article .article-list .list-table .vrow.column .vcol.col-category,
	.body .board-article .article-list .list-table .vrow.column .vcol.col-id,
	.body .board-article .article-list .list-table .vrow.column .vcol.col-rate,
	.body .board-article .article-list .list-table .vrow.column .vcol.col-time,
	.body .board-article .article-list .list-table .vrow.column .vcol.col-view
	{
	font-size: .83rem
}

.body .board-article .article-list .list-table .vrow.column .vcol.col-id
	{
	width: 6rem
}

.body .board-article .article-list .list-table .vrow.column .vcol.col-thumb
	{
	width: 6rem
}


.body .board-article .article-list .list-table .vrow.column .vcol.col-author,
	.body .board-article .article-list .list-table .vrow.column .vcol.col-title
	{
	text-align: left;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis
}


.body .board-article .article-list .list-table .vrow.column .vcol.col-author,
	.body .board-article .article-list .list-table .vrow.column .vcol.col-title
	{
	text-align: left;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis
}


.body .board-article .article-list .list-table .vrow.column .vcol.col-author
	{
	width: 7rem
}

.body .board-article .article-list .list-table .vrow.column .vcol.col-category,
	.body .board-article .article-list .list-table .vrow.column .vcol.col-time
	{
	width: 6rem
}

.body .board-article .article-list .list-table .vrow.column .vcol.col-rate,
	.body .board-article .article-list .list-table .vrow.column .vcol.col-view
	{
	width: 3rem
}

.body .board-article .article-list .list-table .vrow.column .vcol {
    display: inline-block;
    width: 100px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}








.body .board-article .article-list .list-table .main-vrow.column{
	display: flex;
	width: 100%;
	border-bottom: 1px solid;
	border-color: #ddd;
	border-color: var(--color-border-inner);
	position: relative;
	align-items: center;
	height: 3.5rem;
}

.body .board-article .article-list .list-table .main-vrow.column .vrow-inner
	{
	display: flex;
	flex: 1;
	align-items: center
}


.body .board-article .article-list .list-table .main-vrow.column .vrow-top {
	display: flex;
	flex: 1
}

.body .board-article .article-list .list-table .main-vrow.column .vrow-top .vcol{
	margin-right: 1rem
}

.body .board-article .article-list .list-table .main-vrow.column .vrow-bottom{
	display: flex
}

.body .board-article .article-list .list-table .main-vrow.column .vcol.col-author,
	.body .board-article .article-list .list-table .main-vrow.column .vcol.col-category,
	.body .board-article .article-list .list-table .main-vrow.column .vcol.col-id,
	.body .board-article .article-list .list-table .main-vrow.column .vcol.col-rate,
	.body .board-article .article-list .list-table .main-vrow.column .vcol.col-time,
	.body .board-article .article-list .list-table .main-vrow.column .vcol.col-type
	{
	font-size: .83rem
}

.body .board-article .article-list .list-table .main-vrow.column .vcol.col-id
	{
	width: 6rem
}

.body .board-article .article-list .list-table .main-vrow.column .vcol.col-thumb
	{
	width: 70px;
	font-size: 1.5rem
}


.body .board-article .article-list .list-table .main-vrow.column .vcol.col-author,
	.body .board-article .article-list .list-table .main-vrow.column .vcol.col-title
	{
	text-align: left;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis
}


.body .board-article .article-list .list-table .main-vrow.column .vcol.col-author,
	.body .board-article .article-list .list-table .main-vrow.column .vcol.col-title
	{
	text-align: left;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis
}


.body .board-article .article-list .list-table .main-vrow.column .vcol.col-author
	{
	width: 7rem
}

.body .board-article .article-list .list-table .main-vrow.column .vcol.col-category,
	.body .board-article .article-list .list-table .main-vrow.column .vcol.col-time
	{
	width: 6rem
}

.body .board-article .article-list .list-table .main-vrow.column .vcol.col-rate,
	.body .board-article .article-list .list-table .main-vrow.column .vcol.col-type
	{
	width: 3rem
}

.body .board-article .article-list .list-table .main-vrow.column .vcol {
    display: inline-block;
    width: 100px;
    text-align: center; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.body .board-article .article-list .list-table .main-vrow.column .vcol.col-title .title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.body .board-article .article-list .list-table .main-vrow.column .vcol.col-title {
    display: flex;
    align-items: center;
    flex: 1;
}

.body .board-article .article-list .list-table a.main-vrow.active {
	background-color: #eee;
	background-color: var(--color-bg-focus)
}

.body .board-article .article-list .list-table a.main-vrow:hover {
	text-decoration: none;
	background-color: #eee;
	background-color: var(--color-bg-focus)
}

.body .board-article .article-list .list-table .main-vrow.column .vcol.col-title .info {
    color: #d31900;
    margin-left: 0.25rem;
    font-size: .8rem;
}









.body .board-article .search-form {
	margin-top: .5rem
}

.justify-content-end {
    justify-content: flex-end!important;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
}

.input-group-prepend, .input-group-append {
    display: flex;
    border: 3px solid;
    background: #323C46;
    border-color: #323C46;
}

.input-border{
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-color: #323C46;
}


.body .board-article .article-list .list-table a.vrow.active {
	background-color: #eee;
	background-color: var(--color-bg-focus)
}

.body .board-article .article-list .list-table a.vrow:hover {
	text-decoration: none;
	background-color: #eee;
	background-color: var(--color-bg-focus)
}


.body .btn-mode {
    /* background-color: #fff;
    background-color: var(--color-bg-main);
    border-color: #bbb;
    border-color: var(--color-border-outer); */
    
    color: #fff !important;
    border-image: none !important;
    background-image: none !important;
    border: 0.1em solid rgb(40, 40, 50);
    background-color: rgb(50, 60, 70);
}

/* .body .btn-mode:hover {
	background-color: #eee;
	background-color: var(--color-bg-focus);
	border-color: #ddd;
	border-color: var(--color-border-inner)
} */


.search-select{
	border: none;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
}


.reply-form>.reply-form__container>.reply-form__info {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid;
	border-color: #bbb;
	border-color: var(--color-border-outer);
	background-color: #eee;
	overflow: hidden
}

.reply-form>.reply-form__container>.reply-form__info>.reply-form__user-info
	{
	display: flex;
	padding: .5em;
	flex-grow: 1;
	overflow: hidden
}

.reply-form>.reply-form__container>.reply-form__info>.reply-form__user-info>.replay-form-title
	{
	font-size: .8em;
	line-height: 2;
	margin: 0 2em 0 .5em;
	user-select: none;
	flex-shrink: 0
}



.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}



.body .navbar-wrapper .navbar .navbar-brand {
    margin-right: 1rem;
    padding: 0;
    height: 100%;
    line-height: 100%;
}


.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
}

.body .navbar-wrapper .navbar .nav-link {
    color: #fff;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
}

.body .right-sidebar {
    position: relative;
    padding: 0.75rem 0.75rem 0.75rem 0;
}

.body .sidebar .sidebar-item {
    background-color: #fff;
    background-color: var(--color-bg-main);
    padding: 1rem;
    margin-bottom: 0.75rem;
    border: .1em solid;
    border-color: #bbb;
    border-color: var(--color-border-outer);
    border-radius: 6px;
}

.body .sidebar .sidebar-item .item-title {
	border-bottom: .1em solid #cccccc;
    margin-bottom: 0.6rem;
    font-size: 1.1rem;
}

.body .sidebar .sidebar-item .link-list a span {
    /* float: right; */
}


.body .leaf-info {
    color: #888;
    float: right;
}

.count {
	font-size: .9em;
    font-weight: bold;
    font-family: verdana;
    letter-spacing: -0.2em;
    padding-right: 0.5em;
    color: orangered;
}


.body .sidebar .sidebar-item .link-list a {
	font-size: .9rem;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.btn.btn-navy {
    color: #fff !important;
    border-image: none !important;
    background-image: none !important;
    border: .1em solid rgb(40, 40, 50);
    background-color: rgb(50, 60, 70);
    border-radius: 0px;
    width: 100%;
}

.body .sidebar .sidebar-item .profile .user-info {
	border-bottom: .1em solid #cccccc;
   /*  padding-top: 0.6rem; */
    padding-bottom: 0.6rem;
	font-size: 1.1rem;
}

.body .sidebar .sidebar-item .profile .info-details {
	padding-top: 0.6rem;
    padding-bottom: 0.6rem;
	font-size: 0.9rem;
	float: right;
}

.login-form .form-group {
    margin-bottom: 0.8rem;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.body .sidebar .sidebar-item .sub-menu{
    color: #888;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.body .sidebar .sidebar-item .sub-menu .right-menu{
   	float:right;
}

html.width-1300 .body .logo{
	max-width: 1300px;
	margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.body .login-wrapper {
	display: grid;
    margin: 0 auto;
}

.body .login-wrapper .login-form .sub-menu{
    color: #888;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.body .login-wrapper .login-form .sub-menu .left-menu{
    float:left;
}

.body .login-wrapper .login-form .sub-menu .right-menu{
   	float:right;
}

.body .login-form{
	margin-top: 5%;
	margin-left: 25%;
	width: 50%;
}

.body .login-wrapper .form-control{
	padding: 1rem;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	appearance: none;
}


.body .error-form{
	margin-top: 5%;
	margin-left: 25%;
	width: 50%;
}

.body .error-wrapper .form-control{
	padding: 1rem;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	appearance: none;
}

.body .root-container.single .board-article {
	padding-bottom: 3rem;	
	background-color: #fff;
	background-color: var(--color-bg-main);
	padding: 1rem 1rem 1rem 1rem;
	/* min-height: 30rem;
	min-height: 100vh; */
	margin: 0 .75rem 0 0;
	overflow: hidden
}


.body .article-write {
    min-height: 78rem;
}

.body .article-write .write-head {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #bbb;
    border-color: var(--color-border-outer);
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.body .board-article .article-body .article-content{
	min-height: 320px;
}


.body .board-article .article-list .list-table .vrow.column .vrow-bottom,
.body .board-article .article-list .list-table .vrow.column .vrow-middle,
.body .board-article .article-list .list-table .vrow.column .vrow-top,
.body .board-article .article-list .list-table .vrow.hybrid .vrow-bottom,
.body .board-article .article-list .list-table .vrow.hybrid .vrow-middle,
.body .board-article .article-list .list-table .vrow.hybrid .vrow-top {
    align-items: center;
}


.body .board-article .article-list .list-table .vrow.column .vcol.col-title .info {
	color: #888;
    margin-left: 0.25rem;
    font-size: .8rem;
}

.body .board-article .article-list .list-table .vrow.column .vcol.col-title {
    display: flex;
    align-items: center;
    flex: 1;
}

.body .board-article .article-list .list-table .vrow.column .vcol.col-title .title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown:hover > .dropdown-menu	{
	display:block;
	margin-top: 0;
}


.body .board-article .board-title .board-info{
	display: flex;
    flex-direction: column;
    flex: 1;
    width: 0;
}

.body .board-article .board-title .head{
	display: flex;
	align-items: center;
}

.body .board-article .board-title .subscribeForm{
	font-size: 1.3rem;
}

.body .board-article .board-title .subscribeForm a:not(.subscribe){
	color: #fbd100;
}
.col-title i{
	color: #fbd100;
	margin-right: 0.5rem;
}

.body .board-article .board-title .head .title{
	font-size: 1.5rem;
    font-weight: 500;
    margin-right: 0.3rem;
}

.body .board-article .board-title .description{
	font-size: .9rem;
    color: #666;
    color: var(--color-board-title-text);
    line-height: 1.3rem;	
}

.body .navbar-wrapper .navbar .dropdown-menu{
	border: 3px solid;
}

.body .dropdown-item{
	font-size: 1.1rem;
}

.body .navbar-settings {
    overflow-x: auto;
    scrollbar-width: 2px;
    word-break: keep-all;
}

.body .navbar-settings .nav-item {
    padding: 0;
    margin: 0.5rem;
    font-size: 1.1rem;
}

.body .navbar-settings .nav-item.active {
    border-bottom: 2px solid var(--color-primary-theme);
}


.form-group {
    margin-bottom: 1.5rem;
}

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}



.body .dialog {
    margin: 2rem 0;
    background-color: #fff;
    background-color: var(--color-bg-dialog);
}

.body .dialog .col-title, .body .dialog .col-date {
    text-align: left;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}

.body .dialog .col-title {
    width: 65%;
}

.body .dialog .col-date {
    width: 35%;
    text-align: right!important;
}

.body .board-article .category-badge {
    color: #fff;
    color: var(--color-board-category-text);
    background-color: #42464f;
    background-color: var(--color-board-category);
    border: 1px solid #42464f;
    border: 1px solid var(--color-board-category);
    margin: 0.25rem;
    border-radius: 0.15rem;
}

.body .dialog .recent-post, .body .dialog .recent-comment {
 	min-height: 320px;
}


.body .dialog .col-title .comment-count{
	color: #888;
    margin-left: 0.25rem;
    font-size: .8rem;
}

.body .user-header .info-bar{
	background-color: #3d414d;
    width: 100%;
    height: 100px;
}

.body .user-header .info-bar .member-info{
	padding: 1rem;
	color: #fff;
	font-size: 2.0rem;
}





html, html.theme-light { 
	--color-bg-navbar: #3d414d; 
	--color-bg-body: #eee; 
	--color-bg-main: #fff; 
	--color-bg-focus: #eee; 
	--color-bg-dropdown: #fff; 
	--color-bg-dialog: #fff; 
	--color-bg-input: #fff; 
	--color-bg-badge: #3d414d; 
	--color-bg-footer: #fff; 
	--color-bg-table: #f5f5f5; 
	--color-bg-link-card: #F9F9F9; 
	--color-bg-link-card-thumbnail: #EFEFEF; 
	--color-link-card-focus: #eee; 
	--color-text-color: #000000; 
	--color-text-color-reverse: #d3d3d3; 
	--color-text-muted: #666666; 
	--color-text-highlight: yellow; 
	--color-link-color: #0275d8; 
	--color-broken-link-color: red; 
	--color-visited-article: #bbb; 
	--color-border-outer: #bbb; 
	--color-border-inner: #ddd; 
	--color-border-navbar: #3d414d; 
	--color-btn-hover: #007bff; 
	--color-primary-theme: #007bff; 
	--color-primary-theme-border: #007bff; 
	--color-highlight-color: #fff4cc; 
	--color-arca-wrap-background-color: #F9F9F9; 
	--color-user-highlight: #efdf25cf; 
	--color-board-title-text: #666666; 
	--color-board-category: #42464f; 
	--color-board-category-text: #ffffff; 
	--color-board-hybrid-split-line: #eeeeee; 
	--color-board-hybrid-badge-text-color: #005078;
	--color-board-hybrid-title-text-color: #0275d8; 
	--color-user-icon-fixed: #777; 
	--color-user-icon-public: #777; 
	--color-opposite: #000000; 
	--color-settings-point-bg: #29a1b7; 
	--color-settings-point-text: #ffffff; 
	--color-checkbox-label-text: #666666; 
	--color-checkbox-label-border: #dddddd; 
	--color-checkbox-label-focus: #29a1b7; 
	--color-channel-shortcut-icon-background: #e6e6e6; 
	--color-channel-shortcut-add-icon-background: #8bbdea; 
	--color-point-color: #3d414d; 
	--color-wiki-point-color: #71bc6d; 
	--color-notification: #fbd100; 
	--color-notification-tint: #fbd100; 
	--image-fallback-link-card:
		url('/static/assets/images/linkcard-light.png'); 
	--color-tile-pattern-0: #f8f8f8; 
	--color-tile-pattern-1: #EBE5FA; 
	--color-tile-pattern-2: #CDC2FC; 
	--color-tile-pattern-3: #9280E5; 
	--color-tile-pattern-4: #5439C3; 
	--color-tile-pattern-5: #161A33
}

html input::-webkit-calendar-picker-indicator, html.theme-light input::-webkit-calendar-picker-indicator
	{
	filter: invert(0)
}

html.theme-dark { 
	--color-bg-navbar: #242424; 
	--color-bg-body: #111; 
	--color-bg-main: #222; 
	--color-bg-focus: #333; 
	--color-bg-dropdown: #222; 
	--color-bg-dialog: #333; 
	--color-bg-input: #111; 
	--color-bg-badge: #444; 
	--color-bg-footer: #111; 
	--color-bg-table: #2d2f34; 
	--color-bg-link-card: #333333; 
	--color-bg-link-card-thumbnail: #444444; 
	--color-link-card-focus: #2a2a2a; 
	--color-text-color: #d3d3d3; 
	--color-text-color-reverse: #000000; 
	--color-text-muted: #6d6d6d; 
	--color-text-highlight: yellow; 
	--color-link-color: #ec9f19; 
	--color-broken-link-color: #dc4343; 
	--color-visited-article: #909090; 
	--color-border-outer: #43494c; 
	--color-border-inner: #5a5a64; 
	--color-border-navbar: #43494c; 
	--color-wiki-point-color: #666c75; 
	--color-btn-hover: #3F58BE; 
	--color-primary-theme: #3d59bc; 
	--color-primary-theme-border: #3d59bc; 
	--color-highlight-color: #534512; 
	--color-arca-wrap-background-color: #333; 
	--color-user-highlight: #91fb4159; 
	--color-board-title-text: #d3d3d3; 
	--color-board-category: #42464f; 
	--color-board-category-text: #dddddd; 
	--color-board-hybrid-split-line: #444444; 
	--color-board-hybrid-badge-text-color: #ec9f25; 
	--color-board-hybrid-title-text-color: #d3d3d3; 
	--color-user-icon-fixed: #777; 
	--color-user-icon-public: #777; 
	--color-opposite: #ffffff; 
	--color-settings-point-bg: #29a1b7; 
	--color-settings-point-text: #eeeeee; 
	--color-checkbox-label-text: #dddddd; 
	--color-checkbox-label-border: #555555; 
	--color-checkbox-label-focus: #29a1b7; 
	--color-channel-shortcut-icon-background: #666666; 
	--color-channel-shortcut-add-icon-background: #356793; 
	--color-point-color: #d6d7d9; 
	--color-notification: #ABD152; 
	--color-notification-tint: #c3f69d;
	--image-fallback-link-card:
		url('/static/assets/images/linkcard-dark.png'); 
	--color-tile-pattern-0: #2D3034; 
	--color-tile-pattern-1: #47439D; 
	--color-tile-pattern-2: #5C57E5; 
	--color-tile-pattern-3: #8080FF; 
	--color-tile-pattern-4: #BFCBFF; 
	--color-tile-pattern-5: #FCFCFF
}

html.theme-dark input::-webkit-calendar-picker-indicator {
	filter: invert(1)
}

html.theme-dark:not(.theme-light).theme-black { 
	--color-bg-navbar: #000; 
	--color-bg-body: #000; 
	--color-bg-main: #000; 
	--color-bg-focus: #1e2024; 
	--color-bg-dropdown: #000;
	--color-bg-dialog: #000; 
	--color-bg-input: #000; 
	--color-bg-badge: #000; 
	--color-bg-footer: #000; 
	--color-bg-table: #2d2f34; 
	--color-bg-link-card: #1E1E1E; 
	--color-bg-link-card-thumbnail: #444444; 
	--color-link-card-focus: #1e2024;
	--color-text-color: #ccc; 
	--color-text-color-reverse: #000000; 
	--color-text-muted: #666666; 
	--color-text-highlight: yellow; 
	--color-link-color: #ec9f19; 
	--color-broken-link-color: #dc4343; 
	--color-border-outer: #43494c; 
	--color-border-inner: #5a5a64; 
	--color-border-navbar: #43494c; 
	--color-border-badge: #5a5a64;
	--color-wiki-point-color: #666c75; 
	--color-btn-hover: #3F58BE; 
	--color-primary-theme: #3d59bc; 
	--color-primary-theme-border: #3d59bc; 
	--color-highlight-color: #534512; 
	--color-user-highlight: #91fb4159; 
	--color-board-title-text: #ccc; 
	--color-board-category: #42464f; 
	--color-board-category-text: #dddddd; 
	--color-board-hybrid-split-line: #444444; 
	--color-board-hybrid-badge-text-color: #ec9f25; 
	--color-board-hybrid-title-text-color: #d3d3d3; 
	--color-user-icon-fixed: #777; 
	--color-user-icon-public: #777; 
	--color-opposite: #ffffff; 
	--color-settings-point-bg: #29a1b7; 
	--color-settings-point-text: #eeeeee; 
	--color-checkbox-label-text: #dddddd; 
	--color-checkbox-label-border: #555555; 
	--color-checkbox-label-focus: #29a1b7; 
	--color-channel-shortcut-icon-background: #666666; 
	--color-channel-shortcut-add-icon-background: #356793; 
	--color-notification: #ABD152; 
	--color-notification-tint: #c3f69d; 
	--image-fallback-link-card:
		url('/static/assets/images/linkcard-dark.png')
}

html.theme-dark:not(.theme-light).theme-black .body .modal-content {
	border-color: #43494c
}

@media ( prefers-color-scheme :dark) {
	html { 
		--color-bg-navbar: #242424; 
		--color-bg-body: #111; 
		--color-bg-main: #222; 
		--color-bg-focus: #333; 
		--color-bg-dropdown: #222; 
		--color-bg-dialog: #333; 
		--color-bg-input: #111; 
		--color-bg-badge: #444; 
		--color-bg-footer: #111; 
		--color-bg-table: #2d2f34; 
		--color-bg-link-card: #333333; 
		--color-bg-link-card-thumbnail: #444444; 
		--color-link-card-focus: #2a2a2a; 
		--color-text-color: #d3d3d3; 
		--color-text-color-reverse: #000000; 
		--color-text-muted: #6d6d6d; 
		--color-text-highlight: yellow; 
		--color-link-color: #ec9f19; 
		--color-visited-article: #909090; 
		--color-border-outer: #43494c; 
		--color-border-inner: #5a5a64; 
		--color-border-navbar: #43494c; 
		--color-wiki-point-color: #666c75; 
		--color-btn-hover: #3F58BE; 
		--color-primary-theme: #3d59bc; 
		--color-primary-theme-border: #3d59bc; 
		--color-highlight-color: #534512; 
		--color-point-color: #d6d7d9; 
		--color-arca-wrap-background-color: #333; 
		--color-user-highlight: #91fb4159; 
		--color-board-title-text: #d3d3d3; 
		--color-board-category: #42464f; 
		--color-board-category-text: #dddddd; 
		--color-board-hybrid-split-line: #444444; 
		--color-board-hybrid-badge-text-color: #ec9f25; 
		--color-board-hybrid-title-text-color: #d3d3d3; 
		--color-user-icon-fixed: #777; 
		--color-user-icon-public: #777; 
		--color-opposite: #ffffff; 
		--color-settings-point-bg: #29a1b7; 
		--color-settings-point-text: #eeeeee; 
		--color-checkbox-label-text: #dddddd; 
		--color-checkbox-label-border: #555555; 
		--color-checkbox-label-focus: #29a1b7; 
		--color-channel-shortcut-icon-background: #666666; 
		--color-channel-shortcut-add-icon-background: #356793; 
		--image-fallback-link-card:
			url('/static/assets/images/linkcard-dark.png'); 
		--color-tile-pattern-0: #2D3034; 
		--color-tile-pattern-1: #47439D; 
		--color-tile-pattern-2: #5C57E5; 
		--color-tile-pattern-3: #8080FF; 
		--color-tile-pattern-4: #BFCBFF
	}
	html input::-webkit-calendar-picker-indicator {
		filter: invert(1)
	}
	html:not(.theme-light).theme-black { 
		--color-bg-navbar: #000;
		--color-bg-body: #000;
		--color-bg-main: #000;
		--color-bg-focus: #1e2024;
		--color-bg-dropdown: #000; 
		--color-bg-dialog: #000; 
		--color-bg-input: #000; 
		--color-bg-badge: #000; 
		--color-bg-footer: #000; 
		--color-bg-table: #2d2f34; 
		--color-bg-link-card: #1E1E1E; 
		--color-bg-link-card-thumbnail: #444444; 
		--color-link-card-focus: #1e2024; 
		--color-text-color: #ccc; 
		--color-text-color-reverse: #000000; 
		--color-text-muted: #666666; 
		--color-text-highlight: yellow; 
		--color-link-color: #ec9f19; 
		--color-border-outer: #43494c; 
		--color-border-inner: #5a5a64; 
		--color-border-navbar: #43494c; 
		--color-border-badge: #5a5a64; 
		--color-wiki-point-color: #666c75; 
		--color-btn-hover: #3F58BE; 
		--color-primary-theme: #3d59bc; 
		--color-primary-theme-border: #3d59bc; 
		--color-highlight-color: #534512; 
		--color-user-highlight: #91fb4159; 
		--color-board-title-text: #ccc; 
		--color-board-category: #42464f; 
		--color-board-category-text: #dddddd; 
		--color-board-hybrid-split-line: #444444; 
		--color-board-hybrid-badge-text-color: #ec9f25; 
		--color-board-hybrid-title-text-color: #d3d3d3; 
		--color-user-icon-fixed: #777; 
		--color-user-icon-public: #777; 
		--color-opposite: #ffffff; 
		--color-settings-point-bg: #29a1b7;
		--color-settings-point-text: #eeeeee; 
		--color-checkbox-label-text: #dddddd; 
		--color-checkbox-label-border: #555555; 
		--color-checkbox-label-focus: #29a1b7; 
		--color-channel-shortcut-icon-background: #666666; 
		--color-channel-shortcut-add-icon-background: #356793; 
		--image-fallback-link-card:
			url('/static/assets/images/linkcard-dark.png')
	}
	html:not(.theme-light).theme-black .body .modal-content {
		border-color: #43494c
	}
}