<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="container" style="max-width: 600px">
		<div class="py-5 text-center">
			<h2>홈 화면</h2>
		</div>
		<div class="row">
			<div class="col">
				<button class="w-100 btn btn-secondary btn-lg" type="button"
					th:onclick="|location.href='@{/member/signup}'|">회원 가입</button>
			</div>
			<div sec:authorize ="isAnonymous()" class="col">
				<button class="w-100 btn btn-dark btn-lg"
					th:onclick="|location.href='@{/loginForm}'|" type="button">
					로그인</button>
			</div>
			<div sec:authorize ="isAuthenticated()" class="col">
				<button class="w-100 btn btn-secondary btn-lg"
					th:onclick="|location.href='@{/logout}'|" type="button">
					로그아웃</button>
			</div>
		</div>
		
		<div sec:authorize ="isAuthenticated()" class="col">
				<button class="w-100 btn btn-primary btn-lg"
					th:onclick="|location.href='@{/member/info}'|" type="button">
					마이페이지</button>
		</div>
		
		<div sec:authorize ="isAuthenticated()" class="col">
				<button class="w-100 btn btn-primary btn-lg"
					th:onclick="|location.href='@{/board/write}'|" type="button">
					글쓰기</button>
		</div>
		<div sec:authorize ="isAuthenticated()" class="col">
				<button class="w-100 btn btn-primary btn-lg"
					th:onclick="|location.href='@{/board}'|" type="button">
					게시판보기</button>
		</div>
		<hr class="my-4">
	</div>
	
	
	<div sec:authorize ="isAuthenticated()">
		<h4 class="mb-3" th:text="|로그인: ${session.member.loginId}|">로그인 사용자 이름</h4>
	</div> 
	
	<!-- /container -->
</body>
</html>