<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	class="width-1300 navbar-scroll">


<th:block th:replace="~{fragments/basicLayout :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<article class="containe-fluid board-article">
			<div class="article-view">
					
				<th:block th:replace="~{fragments/boardTitle::boardTitle}"></th:block>
					
				<div class="clearfix"></div>
				<div class="article-wrapper">
					<div class="edit-menu"
						th:if="${#authentication.name} == ${postInfoDto.memberInfoDto.loginId}">
						<form class="postForm"							
							th:action="@{/board/{boardType}/{postId}/edit(boardType=${postInfoDto.boardType}, postId=${postInfoDto.postId})}"
							th:method="get">
							<a class="post-edit" href="#" title="수정"> <span> <i class="bi-pencil-square"></i> 수정</span></a>
						</form>
						<span class="sep"></span>
						<form class="postForm"
							th:action="@{/board/{boardType}/{postId}(boardType=${postInfoDto.boardType}, postId=${postInfoDto.postId})}"
							th:method="delete">
							<a class="post-delete" href="#" title="삭제"> <span> <i class="bi-trash-fill"></i> 삭제</span></a>
						</form>
					</div>
					<div class="article-head">
						<div class="title-row">
							<span th:text="${postInfoDto.title}"></span>
						</div>
						<div class="info-row">
							<div class="member-info">
								<a th:href="@{/member/{nickname}(nickname=${postInfoDto.memberInfoDto.nickname})}">
									<span th:text="${postInfoDto.memberInfoDto.nickname}"></span>
								</a>
							</div>
							<div class="article-info">
								<span>추천 <b th:text="${postInfoDto.recommend}"></b></span>
								<span>조회수 <b th:text="${postInfoDto.hit}"></b></span>
								<span>작성일 <b th:text="${postInfoDto.createdDate}"></b></span>
							</div>
						</div>
					</div>
					<div class="article-body">
						<div class="fr-view article-content"
							th:utext="${postInfoDto.content}"></div>
						<div class="vote-area" id="vote">
							<button class="item" id="recommend-btn">
								<i class="bi-hand-thumbs-up"></i>
								<br>
								추천 <span id="recommend" th:text="${postInfoDto.recommend}"></span>							
							</button>
						</div>
					</div>
					<div class="article-comment position-relative" id="comment">
						<div class="title">
							<div class="comment-info">
								<span>댓글 <b id="comment_count"
									th:text="${postInfoDto.totalCommentCount}"></b>개
								</span>
							</div>
							<div class="link">
								<a href="#" onClick="javascript:window.scrollTo(0,0)">본문으로 </a>
								<span class="sep"></span> <span>목록으로 </span>
							</div>
						</div>
						<div class="list-area"></div>
						<div class="pagination-wrapper my-2">
							<ui class="pagination justify-content-center" id="comment-paging"></ui>
						</div>
						<form sec:authorize="isAuthenticated()" class="reply-form write"
							id="commentForm" th:action="@{/comment/{param}(param=${postInfoDto.postId})}" method="post">
							<div class="reply-form__container">
								<div class="reply-form__info">
									<div class="reply-form__user-info">
										<span class="replay-form-title">댓글 쓰기</span>
										<span sec:authentication="Principal.member.nickname"></span>
									</div>
									<div class="reply-form__submit-button-wrapper">
										<button class="btn reply-form__submit-button btn-block" id="write-btn"
											type="submit">작성</button>
									</div>
								</div>
								<div class="reply-form-textarea-wrapper">
									<textarea class="reply-form-textarea" name="content"
										placeholder="내용을 입력하세요"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="included-article-list">
					<div class="article-list">
						<div class="list-table table">
							<div class="vrow column head d-none d-md-flex">
								<div class="vrow-inner">
									<div class="vrow-top">
										<span class="vcol col-id">번호</span> <span
											class="vcol col-title">제목</span>
									</div>
									<div class="vrow-bottom">
										<span class="vcol col-author">작성자</span> <span
											class="vcol col-time">작성일</span> <span class="vcol col-view">조회수</span>
										<span class="vcol col-rate">추천</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<form th:action="@{/board/{boardType}(boardType=${postInfoDto.boardType})}" method="get"
						class="form-inline search-form justify-content-end">
						<th:block th:if="${#request.getParameter('mode') == 'best'}">
							<input type="hidden" class="form-control" name="mode" value="best">
						</th:block>
						<div class="input-group">
							<div class="input-group-prepend">
								<select class="search-select" name="target" id="target">
									<option value="all" th:selected="${#request.getParameter('target')} == 'all' ">전체</option>
									<option value="title" th:selected="${#request.getParameter('target')} == 'title' ">제목</option>
									<option value="content" th:selected="${#request.getParameter('target')} == 'content' ">내용</option>
									<option value="writer" th:selected="${#request.getParameter('target')} == 'writer' ">작성자</option>
									<option value="title_content" th:selected="${#request.getParameter('target')} == 'title_content' ">제목/내용</option>
								</select>
							</div>
							<input type="text" class="form-control form-control-sm input-border" name="keyword" id="keyword" th:value="${#request.getParameter('keyword')}">
							<div class="input-group-append">
								<button class="btn btn-navy btn-block btn-sm" type="submit">검색</button>
							</div>
						</div>
					</form>
					<nav class="pagination-wrapper">
						<ul class="pagination justify-content-center" id="post-paging">
						</ul>
					</nav>
				</div>
			</div>
		</article>
	</th:block>
</th:block>


	

<head>
<script type="text/javascript" defer th:src="@{/js/boardTitle.js}"></script>
<script type="text/javascript" defer th:src="@{/js/viewPost.js}"></script>
</head>


<script type="text/javascript">

	let boardType = location.pathname.split('/')[2];
	let postId = '[[${postInfoDto.postId}]]';
	let writerId = '[[${postInfoDto.memberInfoDto.loginId}]]';
	let authId = '[[${#authentication.name}]]';
	let authRole = '[[${#authentication.authorities}]]';
	
</script>
</html>