<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	class="width-1300 navbar-scroll">
	<th:block th:fragment="navbar">
		<div class="navbar-wrapper">
			<nav class="navbar navbar-dark navbar-expand">
				<a class="navbar-brand" href="/" title="홈으로">홈</a>
				<ul class="nav navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" aria-expanded="false"> 즐겨찾기</a>
						<div class="dropdown-menu" data-subscribe>

						</div>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" aria-expanded="false"> 일반</a>
						<!-- data-bs-toggle="dropdown"  --> 
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/board/free"> 자유</a>
							<a class="dropdown-item" href="/board/humor"> 유머</a>
							<a class="dropdown-item" href="/board/horror"> 공포</a>
							<a class="dropdown-item" href="/board/info"> 정보</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" aria-expanded="false"> 스포츠</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/board/soccer"> 축구</a>
							<a class="dropdown-item" href="/board/basketball"> 농구</a>
							<a class="dropdown-item" href="/board/baseball"> 야구</a>
							<a class="dropdown-item" href="/board/other-sport"> 기타스포츠</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" aria-expanded="false"> 게임</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/board/lol"> 리그오브레전드</a>
							<a class="dropdown-item" href="/board/wow"> 월드오브워크래프트</a>
							<a class="dropdown-item" href="/board/hearthstone"> 하스스톤</a>
							<a class="dropdown-item" href="/board/other-game"> 기타게임</a>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</th:block>
</html>