<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	class="width-1300 navbar-scroll">

<th:block th:replace="~{fragments/basicLayout :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<article class="containe-fluid board-article">
			<div class="login-wrapper">
				<div class="login-form form-control">
					<form action="/login" method="post">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"> <i class="bi-person-fill"></i></span>
								<input type="text" name="loginId" id="loginId"
									class="form-control" placeholder="아이디 입력" tabindex="10">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"> <i class="bi-lock-fill"></i> </span>
								<input type="password" name="password" id="password"
									class="form-control" placeholder="비밀번호 입력" tabindex="11">
							</div>
						</div>
						<button type="submit" class="btn btn-navy btn-block" tabindex="23"> 로그인</button>
						<div class="sub-menu">
							<div class="left-menu">
								<label> <input type="checkbox" name="remember-me"
									id="remember-me"> 자동로그인
								</label>
							</div>
							<div class="right-menu">
								<!--<a href="/"> <span>작성글</span></a>
								<span class="sep"></span>-->
								<a href="/member/signup"> <span>회원가입</span></a>
							</div>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>
		</article>
	</th:block>
</th:block>
</html>