<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	class="width-1300 navbar-scroll">

<th:block th:replace="~{fragments/basicLayout :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<article class="containe-fluid board-article">
			<h4 class="mb-3">회원 정보</h4>
			<nav class="navbar navbar-expand navbar-settings mb-2">
				<ul class="navbar-nav mr-auto mt-2 nav-tabs">
					<li class="nav-item" id="nav-info"> <a href="/member/edit/info">계정정보</a></li>
					<li class="nav-item" id="nav-password"> <a href="/member/edit/password">비밀번호</a></li>
					<li class="nav-item" id="nav-subscribe"> <a href="/settings/channels">즐겨찾기</a></li>
				</ul>
			</nav>
			<div class="px-3">
			<form id="pw-edit-form" th:action th:object="${passwordEditDto}" method="post">		
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="originPassword"> 현재 비밀번호</label>
					<div class="col-sm-6">
						<input type="password" th:field="*{originPassword}" class="form-control">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="newPassword"> 새 비밀번호</label>
					<div class="col-sm-6">
						<input type="password" th:field="*{newPassword}" class="form-control" placeholder="새 비밀번호를 입력해주세요">
						<font size="2" color="#BDBDBD">비밀번호는 8~20자에 최소 하나의 문자 및 숫자여야 합니다</font>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label" for="newPasswordCheck"> 비밀번호 확인</label>
					<div class="col-sm-6">
						<input type="password" th:field="*{newPasswordCheck}" class="form-control" placeholder="비밀번호를 다시 한 번 입력해주세요">
					</div>
				</div>							
				<hr class="my-4">	
				<div class="float-end col-sm-3">
					<button type="submit" id="pw-confirm-btn" class="btn btn-navy btn-block">저장</button>
				</div>
			</form>
			</div>
		</article>
	</th:block>
</th:block>
<script>
$(document).ready(function(e) {
		
	let route = location.pathname.split('/')[3];
	$('#nav-' + route).addClass('active');
});
</script>
</html>
