<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:href="@{/css/bootstrap.min.css} "
		 href="../css/bootstrap.min.css" rel="stylesheet">		 
<style>
.container {
	max-width: 840px;
	/* border:2px solid darkgray */
}
</style>
</head>
<body>
	<div class="container overflow-hidden">
		<div class="py-5 text-left">
			<h2>회원 정보</h2>
		</div>
		
		<!-- 추가 -->
		<h2 th:if="${param.status}" th:text="'저장 완료'"></h2>
		
		<div class="row">
			<div class="row gy-1">
				<div class="col-sm-2">
					<label for="loginId">아이디</label>
				</div>
				<div class="col-sm-5">
					<input type="text" id="loginId" name="loginId" class="form-control" value="test" th:value="${memberInfoDto.loginId}" readonly>
				</div>
			</div>
			<div class="row gy-1">
				<div class="col-sm-2">
					<label for="nickname">닉네임</label>
				</div>
				<div class="col-sm-5">
					<input type="text" id="nickname" name="nickname" class="form-control" value="test" th:value="${memberInfoDto.nickname}" readonly>
				</div>
			</div>
			<div class="row gy-1">
				<div class="col-sm-2">
					<label for="email">이메일</label>
				</div>
				<div class="col-sm-5">
					<input type="text" id="email" name="email" class="form-control" value="test@test.com" th:value="${memberInfoDto.email}" readonly>
				</div>
			</div>
			<div class="row gy-1">
				<div class="col-sm-2">
					<label for="rank">등급</label>
				</div>
				<div class="col-sm-5">
					<input type="text" id="rank" name="rank" class="form-control" value="BRONZE" th:value="${memberInfoDto.rank}" readonly>
				</div>
			</div>
			<!-- <div class="row gy-1">
				<div class="col-sm-2">
					<label for="exp">경험치</label>
				</div>
				<div class="col-sm-5">
					<input type="text" id="exp" name="exp" class="form-control" value="10" th:value="${memberInfoDto.exp}" readonly>
				</div>
			</div> -->
			<div class="row gy-1">
				<div class="col-sm-2">
					<label for="createdDate">가입일</label>
				</div>
				<div class="col-sm-5">
					<input type="text" id="createdDate" name="createdDate" class="form-control" value="10"
						   th:value="${#temporals.format(memberInfoDto.createdDate, 'yyyy-MM-dd HH:mm')}" readonly>
				</div>
			</div>
		</div>
			<hr class="my-4">
			
			
			<div class="row">
				<div class="col">
					<button class="w-100 btn btn-primary btn-lg"
						th:onclick="|location.href='@{/member/edit/info}'|"
						type="button">회원정보변경</button>
				</div>
				<div class="col">
					<button class="w-100 btn btn-primary btn-lg"
						th:onclick="|location.href='@{/member/edit/password}'|"
						type="button">비밀번호변경</button>
				</div>
				<div class="col">
					<button class="w-100 btn btn-secondary btn-lg"
						th:onclick="|location.href='@{/}'|"
						type="button">회원탈퇴</button>
				</div>
			</div>
	</div>
	<!-- /container -->
</body>
</html>